.foboto {
  font-family: 'Roboto', sans-serif;
}

.borange {
  background-color: #d35649;
}

.forange {
  color: #d35649;
}

.bgrey {
  background-color: rgba(105, 105, 105, 0.688);
}

.fgrey {
  color: #333;
}

.bblue {
  background-color: rgb(58, 155, 214);
}

.fgrey-light {
  color:rgba(105, 105, 105, 0.888)
}

.filter {
  filter: invert(15%) sepia(8%) saturate(16%) hue-rotate(315deg) brightness(99%) contrast(85%);
}

.header-icon {
  color: white;
}

.btn-nostyle {
  border: none;
}

.how-icon {
  width: 60px;
  height: 60px;
}

.logo {
  height: 50px;
}

.logo-txt {
  font-size: 30px;
  font-weight: 800;
  margin-top: 15px;
}

.bg-black {
  background-color: black;
}

/* header */

.header-small {
  display: flex;
  flex-flow: column;
}

.logo-div {
  display:flex;
  margin: auto;
}

.header-list {
  padding: 10px 25px;
  margin: auto;

}

.header-icon {
  font-size: 18px;
}

.invinsible {
  font-size: 5px;
  color: #d35649;
}

/* Main */
/* Search section */

.search-section {
  background-image: url("https://live.staticflickr.com/57/220270916_d546e6fd11_b.jpg");
  background-position-x: 55%;
  height: 650px;
  background-size: cover;
}

.main-form {
  width: 90%;
  margin: auto;
}

legend {
  font-size: 20px;
}

input {
   height: 35px;
   width: 99%;
}

label {
  height: 35px;
  font-size: 20px;
  width: 99%;
  text-align: center;
  padding-top: 5px;
  background-color: #d35649;
}

.search-form {
  margin: auto;
  padding:20px 10px 20px 10px;
  border-radius: 10px;
}

.headline {
  font-size: 22px;
}

.how-div {
  position: relative;
  margin: 45% 0 0 20%;
}

.how {
  border-radius: 5px;
  font-size: 25px;
  color: black;
  padding-bottom: 15px;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

/* How it works */

.how-headline {
  text-align: center;
  font-size: 24px;
}

.how-icon {
display: block;
margin: auto;
}

/* Circle images section */

.find-btn {
  display: block;
  margin: auto;
  width: 50%;
}

.round-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  display: block;
  margin: auto;
}

.line-span {
  font-size: 19px;
  font-weight: 900;
  line-height: 22px;
}

.pline {
  text-align: center;
}

/* footer */

.footer-logo {
  display: flex;
  justify-content: space-around;
}

.footer-link {
  text-decoration: none;
}

.last-line {
  background-color: #333;
  justify-content: space-between;
}

.ln {
  line-height: 22px;
}

.fnav {
  margin: auto;
  padding-top: 10px;
}

.flist-i {
  margin: 0 10px 0 10px;
}

.footer-link {
  font-size: 14px;
  color: white;
}

a.footer-link:hover,
a.footer-link:active {
  color: rgba(105, 105, 105, 0.688);
  text-decoration: underline;
}

.last-list-i {
  margin: 0 10px;
}

.last-icon {
  color: white;
}

.last-icon:hover,
.last-icon:active {
  color: black;
}

.footer-lg {
  display: none;
}

/* Medium screen */

@media (min-width: 768px) {

  /* header */

  .header-small {
    flex-flow: row;
  }

  .header-icon {
    margin: 10px 20px 0 20px;
  }

  /* Main */
  /* Search section */

  .main-form {
    width: 70%;
    margin: auto;
  }

  legend {
    font-size: 25px;
  }

  input {
    height: 35px;
    width: 70%;
  }

  label {
    height: 35px;
    font-size: 20px;
    width: 29%;
    text-align: center;
    padding-top: 5px;
    margin-left: -4px;
    background-color: rgb(58, 155, 214);
  }

  .search-form {
    margin: auto;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
  }

  .lbl-btn {
  background-color: rgb(58, 155, 214);
  }

  .headline {
    font-size: 30px;
  }

  .how-div {
    position: relative;
    margin: 30% 0 0 40%;
  }

  /* Circle images section */

  .line-txt-div {
    width: 50%;
    margin-left: 40px;
  }

  .find-btn {
    margin: 0;
  }

  .line-span {
    font-size: 19px;
    font-weight: 900;
    line-height: 22px;
  }

  .pline {
    text-align: left;
  }

  .round-img {
    margin-right: 40px;
  }

  /* footer */

  .nav-bar {
    position: relative;
    height: 130px;
  }

  .footer-nav-div {
    display: flex;
    justify-content: space-around;
  }

  .footer-circle {
    height: 93px;
    width: 93px;
    border: 3px solid  rgba(105, 105, 105, 0.888);
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -45px;
    background-color: black;
    z-index: 1;
  }

  .footer-logo {
    position: absolute;
    left: 50%;
    top: 35px;
    margin-left: -25px;
    z-index: 2;
  }

  .border-line {
    border: 2px solid  #d3d3d3;
    margin-right: 30px;
    margin-left: 30px;
  }

  .flist-i {
    margin: 0 8px 0 8px;
  }


  .fnav {
    margin: 0;
    padding: 0;
  }

  .last-list-i {
    margin: 0 10px;
  }
}

@media (min-width: 1024px) {

  .header-icon {
    font-size: 18px;
  }

  .invinsible {
    font-size: 18px;
    color: white;
  }

  .lbl-btn {
    background-color: #d35649;
  }

  .search-lbl {
    background-color: #d35649;
  }

  .how-div {
    position: relative;
    margin: 20px 0 0 43%;
  }

  .how-icon {
    padding: 20px;
  }

  /* Circle images section */

  .find-btn {
    display: block;
    margin: auto;
    width: 50%;
  }

  .round-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    display: block;
    margin: 30px 50px 30px 0;
  }

  .line-span {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
  }

  .pline {
    text-align: left;
    font-size: 25px;

  }

  .line-txt-div {
    width: 40%;
    margin-left: 30px;
    margin-top: 30%;
  }

  .find-btn {
    margin: 0;
  }

  /* Footer */
  .footer-lg {
    display: flex;
  }

  .footer-lg-card {
    width: 25%;
  }

  .subscribe-lbl {
    width: 30%;
    font-size: 15px;
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .ln {
    margin-top: 12px;
  }

}
